/.cache/
/.ipynb-checkpoints/
/.tox/
/build/
/dist/
/coverage/
/htmlcov/
/node_modules/
/sidecar-*/

__pycache__/
*.egg-info/

**/static/*.bundle.js
**/static/vendor.*
**/static/fonts/*

*.py[cod]
*.ipynb
.coverage*
npm-debug.log
*.tar.gz
*.#*
.python-version